H1 {
    font-size: 300%;
    text-align: center;
    color: gray;
    text-shadow: 2px 2px 20px black;
    
    
}

h2{
    
     text-shadow: 2px 2px 20px red;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 20px black;

}
p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
img {
    width: 200px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

img:hover {
     transform: scale(1.1);
    
}

.texto{
    display: flex;
    align-items: center;
    gap: 20px;
}

.daniela{
    text-shadow: 2px 2px 20px black;
}

.texto1 {
    display: flex;
    align-items: center;
    gap: 20px ;
}

.animacao, .animacao2 , .animacao3, .animacao4, .animacao5, .animacao6 {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 600ms ease, transform 600ms ease; /* transição suave */
  will-change: opacity, transform; /* dica de performance */
}
.animacao.visivel, .animacao2.visivel, .animacao3.visivel, .animacao4.visivel, .animacao5.visivel, .animacao6.visivel {
  opacity: 1;
  transform: translateY(0);
}

.Lara {
    text-shadow: 2px 2px 20px gold;
    
}
.texto2 {
    display: flex;
    align-items: center;
    gap: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.megan {
    text-shadow: 2px 2px 20px pink;
}
.texto3 {
    display: flex;
    align-items: center;
    gap: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.manon {
    text-shadow: 2px 2px 20px brown;
}
.Yoonchae {
    text-shadow: 2px 2px 20px peachpuff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("kateseye1.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}


body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

p4, p3, p6, p2{
    color: white;
}